/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.header__img {
    width: 48px;
    height: 48px;
}
body {
    background-color: rgba(243, 243, 240, 0.922);
    margin: 0 10% 0 10%;
}
.card-deck .card {
    flex: 0 0 20%;
}

